<html>
    <head>
        <title>Caros's blog</title>
    </head>
    <h1>Being A Django Girl</h1>
    <h2>meine erste Website</h2>
    <body>
      <div>
        <p>Es war einmal eine <em>Stadtplanerin</em>, die sich im <strong>Programmieren</strong> verlaufen hat. </p>
        <p>Und das war gar nicht so schlimm. Denn sie hatte vor ein paar Monaten angefangen, als Projektmanagerin bei <a href="https://liqd.net">liquid democracy</a> zu arbeiten. Und Warum?</p>
        <p> <ul><li>weil Bürgerbeteiligung wichtig ist</li><li>weil die Kolleg*innen nett sind</li></ul></p>
</div>
{% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}
    </body>
</html>
