<html>
    <head>
        <title>Caros's blog</title>
    </head>
    <h1>Being A Django Girl</h1>
    <h2>meine erste Website</h2>
    <body>
      <div>
        <p>Es war einmal eine <em>Stadtplanerin</em>, die sich im <strong>Programmieren</strong> verlaufen hat. </p>
        <p>Und das war gar nicht so schlimm. Denn sie hatte vor ein paar Monaten angefangen, als Projektmanagerin bei <a href="https://liqd.net">liquid democracy</a> zu arbeiten. Und Warum?</p>
        <p> <ul><li>weil Bürgerbeteiligung wichtig ist</li><li>weil die Kolleg*innen nett sind</li></ul></p>
</div>
<head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>
